body {
    font-size: 14px;
    font-family: Arial;
    line-height: 23px;
    background: #029ef3;
}

#wrapper-form-reg {
    width: 265px;
    background: #fdfdfd;
    border-radius: 3px;
    padding: 30px 20px 20px 20px;
    margin: 150px auto;
    text-align: center;
}

#form-reg #username, #form-reg #password, #form-reg #fullname, #form-reg #email {
    display: block;
    padding: 10px 10px;
    width: 100%;
    margin-bottom: 15px;
    background: #f7f7f7;
    border: none;
}

#form-reg #btn-reg {
    display: block;
    width: 100%;
    background: #029ef3;
    color: #ffffff;
    border: none;
    padding: 10px 0px;
    margin: 15px 0px 10px;
    cursor: pointer;
}

#lost-pass {
    color: #67a0b7;
    text-decoration: none;
}

p.error {
    color: red;
    text-align: left;
}
